.item1 {
    width: 30%;
    height: 150vh;
    background-color: rgba(182, 32, 32, 0.904);
}

img {
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    margin-left: 65px;
    margin-top: 50px;
}

h4 {
    margin-top: 50px;
    margin-left: 80px;
    font-size: 20px;

}

.para1 {

    text-align: center;
    line-height: 40px;
}

.btn {
    margin-left: 140px;
    color: white;
}

.item2 {
    background-color: white;
    width: 70%;
    height: 150vh;

}

.container {

    display: flex;
    align-content: center;

}

h1 {
    font-size: 40px;
    margin-top: 100px;
    margin-left: 80px;
}

h3 {
    font-size: 20px;
    margin-left: 80px;
}

h2 {
    margin-top: 60px;
    margin-left: 80px;

}

p {
    margin-left: 80px;
    margin-right: 80px;
   
}

h5 {
    text-align: center;
    font-size: 20px;
    color: white;
}

h6 {
    font-size: 20px;
    text-align: center;
}

.exp {
    font-size: 15px;
    text-align: left;
    margin-left: 80px;
}

li {
    margin-left: 80px;
    margin-right: 90px;
}

.paraitem2{
    padding-right: 40px;
}

.h6item1{
    color: white;
}